.signUpHolder {
  width: 100%;
  /* height: 90vh; */
  height: max-content;
  /* min-height: 100vh; */
  /* background: rgba(1, 31, 1, 0.979); */
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  /* justify-content: space-between; */
  /* gap: 20px; */
  /* align-items: center; */
  /* flex-direction: column; */
}

.sideImageHolder {
  width: 30%;
  height: 100vh;
  background: url("../../../assets/realTrakfundzBackground.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.holdImageAndFont {
  width: 100%;
  height: 50%;
  /* background: #000; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.holdImg {
  width: 65%;
  height: 25%;
  /* background: crimson; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.holdBG {
  width: 93%;
  height: 88%;
  /* width: 100%;
      height: 100%;
      object-fit: cover; */
  /* background-position-x: 100%; */
  /* height: 100vh; */
  /* min-height: 100vh; */
}

.holdFont {
  width: 332px;
  height: 89px;
  /* background: red; */
  color: var(--colours);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.signUpFontz {
  font-size: 20px;
}

.createAccount {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* .enjoyTxt{
      font-family: Arial, Helvetica, sans-serif;
  } */

.holdFormAll {
  width: 70%;
  height: 100vh;
  background: var(--colours);
  /* background: limegreen; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

.InsideFormHolder {
  width: 50%;
  height: 92%;
  /* background: rebeccapurple; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.onTopForm {
  width: 100%;
  height: 16%;
  /* background: rgb(28, 192, 13); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 30px; */
  justify-content: space-between;
}

.alreadyHolder {
  width: 100%;
  height: 14%;
  /* background: pink; */
  display: flex;
  justify-content: flex-end;
}

.already {
  font-size: 14px;
  font-weight: 400;
  color: var(--inactiveText);
  /* line-height: 16.7px; */
}

.loginSpan {
  color: var(--brandColour);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.loginSpan:hover {
  text-decoration: underline;
}

.personalInfoHolder {
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  /* background: #000; */
  align-items: center;
  flex-direction: column;
  gap: 5px;
  /* background: #000; */
}

.personalH4 {
  font-size: 24px;
  color: var(--textColour);
}

.infoP {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--microcopyTextColour);
}

.formHolder {
  width: 100%;
  height: 79%;
  /* background: tomato; */
  display: flex;
}

.inputHolder {
  width: 100%;
  height: 100%;
  /* background: rgb(88, 7, 155); */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

.firstAndLastNameInput {
  width: 100%;
  height: 14%;
  /* background: teal; */
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.firstNameDiv {
  width: 50%;
  height: 100%;
  /* background: red; */
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.nameInput {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding-left: 10px;
  font-size: 1rem;
  /* background: crimson; */
}

.secondNameDiv {
  width: 50%;
  height: 100%;
  /* background: red; */
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.emailInputDiv {
  width: 100%;
  height: 14%;
  /* background: rgb(12, 219, 12); */
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.regInput {
  width: 100%;
  height: 70%;
  border-radius: 5px;
  border: 1px solid black;
  outline: none;
  padding-left: 10px;
  font-size: 1rem;
}

.phoneNumDiv {
  width: 100%;
  height: 14%;
  /* background: lime; */
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.enterPasswordDiv {
  width: 100%;
  height: 18%;
  /* background: rgb(109, 67, 67); */
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.TwoInputHolder {
  width: 100%;
  height: 100%;
  /* background: crimson; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding-right: 10px;
  border-radius: 5px;
}

.inputOne {
  width: 95%;
  height: 90%;
  /* background: darkblue; */
  padding-left: 12px;
  outline: none;
  border: none;
  font-size: 1rem;
}

.errorP {
  font-size: 0.8rem;
}

.BtnDiv {
  width: 100%;
  height: 20%;
  /* background: blue; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.Btn {
  width: 100%;
  height: 2.8rem;
  background: var(--brandColour);
  color: white;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.byCreate {
  width: 40%;
  text-align: center;
  font-size: 0.77rem;
  color: var(--inactiveText);
}

.span {
  color: var(--brandColour);
}

@media screen and (max-width: 1024px) {
  .signUpFontz {
    /* width: 70%; */
    font-size: 1.4rem;
    /* color: green; */
  }

  .create,
  .enjoyTxt {
    font-size: 0.94rem;
  }

  .infoP {
    font-size: 0.8rem;
  }

  .errorP {
    font-size: 0.65rem;
  }

  .Btn {
    height: 2.5rem;
  }

  .byCreate {
    width: 90%;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .signUpFontz {
    /* width: 70%; */
    font-size: 1rem;
    /* color: green; */
  }

  .create,
  .enjoyTxt {
    font-size: 0.7rem;
  }

  .InsideFormHolder {
    width: 65%;
    height: 85%;
    /* background: orange; */
  }

  .firstAndLastNameInput {
    height: 14%;
  }

  .personalH4 {
    font-size: 1rem;
  }

  .infoP {
    font-size: 0.6rem;
  }

  .errorP {
    font-size: 0.5rem;
  }

  .Btn {
    height: 2.2rem;
  }

  .byCreate {
    width: 90%;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 425px) {
  .signUpHolder {
    height: 110vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 3px; */
  }

  .sideImageHolder {
    height: 15vh;
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
  }

  .InsideFormHolder {
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .holdImageAndFont {
    width: 70%;
    height: 10vh;
    display: flex;
    gap: 7px;
    /* justify-content: space-between; */
    /* background: #db3838; */
  }

  .holdImg {
    width: 90%;
    height: 10rem;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    /* background: #000; */
    padding-top: 2px;
  }

  .holdBG {
    width: 10%;
    height: 90%;
  }

  .signUpFontz {
    font-size: 1.1rem;
  }

  .create,
  .enjoyTxt {
    font-size: 0.5rem;
  }

  .holdFormAll {
    width: 100%;
  }

  .InsideFormHolder {
    height: 99%;
    width: 90%;
    /* background: #000; */
  }

  .already,
  .loginSpan {
    font-size: 0.7rem;
  }

  .onTopForm {
    height: 12%;
    /* background: green; */
  }

  .formHolder {
    width: 75%;
  }

  .inputHolder {
    width: 100%;
    height: 95%;
    /* background: #000; */
  }

  .firstName,
  .lastName,
  .signEmail,
  .phone,
  .enterPassword {
    font-size: 0.7rem;
  }

  .BtnDiv {
    gap: 10px;
  }

  .Btn {
    height: 2.7rem;
  }
}

@media screen and (max-width: 325px) {
    .formHolder {
        width:90%;
    }

  .inputHolder {
    width: 100%;
    /* background: #000; */
  }

.errorP {
    font-size: 0.45rem;
}

  .Btn {
    height: 2.5rem;
  }
}
