.forgotPassHolder{
    width: 100%;
    /* max-width: 100%; */
    height: max-content;
    height: 100vh;
    background: teal;
    /* background: url("../../../assets/trakFundzBackground.svg"); */
    background: url("../../../assets/trakFundzBackground.svg");
    /* background-repeat: no-repeat; */
    background-size: 100%;
    /* background-position: center; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
}

.forgotHoldImage{
    width: 85%;
    height: 20vh;
    /* background: url("../../../assets/trakFundzBackground.svg"); */
    /* background: #000; */
    display: flex;
    align-items: flex-end;
    /* margin-left: 20px; */
}

.logo{
    width: 248px;
    height: 180px;
}

.forgotFormHold{
    width: 29%;
    height: 60%;
    background: white;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.forgotInForm{
    width: 90%;
    height: 75%;
    /* background: tomato; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.forgotTextHold{
    width: 100%;
    height: 30%;
    /* background: lime; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.forgot{
    font-size: 20px;
    font-weight: 700;
}

.pleaseEnter{
    width: 85%;
    font-size: 14px;
    font-weight: 400;
}

.forgotLowerForm{
    width: 100%;
    height: 52%;
    /* background: green; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.forgotEmailOwnDiv{
    width: 100%;
    height: 45%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.forgotEmail{
    font-size: 15px;
}

.emailInput{
    width: 100%;
    height: 70px;
    background: white;
    border: 1px solid black;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid var(--microcopyTextColour);
    /* border: 5px solid orchid; */
}

.forgotReset{
    width: 100%;
    height: 28%;
    background: var(--brandColour);
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}