.resetPassHolder{
    width: 100%;
    height: 100vh;
    background: url("../../../assets/realTrakfundzBackground.svg");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
}

.resetHoldImage{
    width: 85%;
    height: 20vh;
    /* background: url("../../../assets/trakFundzBackground.svg"); */
    /* background: #000; */
    display: flex;
    align-items: flex-end;
    /* margin-left: 20px; */
}

.logo{
    width: 248px;
    height: 180px;
}

.resetformHold{
    width: 29%;
    height: 60%;
    background: var(--colours); 
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.resetInForm{
    width: 90%;
    height: 85%;
    /* background: tomato; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* background: teal; */
}

.resetTextHold{
    width: 100%;
    height: 28%;
    /* background: magenta; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.resetPass{
    font-size: 20px;
    font-weight: 700;
    color: var(--textColour);
}

.yourNewPass{
    width: 87%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: var(--microcopyTextColour);
}

.promptInputs{
    width: 100%;
    height: 70%;
    /* background: hotpink; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.resetInputAndBtn{
    width: 100%;
    height: 65%;
    /* background: steelblue; */
    display: flex;
    justify-content: space-between;
    /* gap: 5px; */
    flex-direction: column;
}

.ResetPasswordDiv{
    width: 100%;
    height: 48%;
    /* background: green; */
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.resetNewPassword{
    font-size: 14px;
}

.resetErrorP{
    font-size: 9px;
    color: var(--microcopyTextColour);
    font-weight: 400;
}

.resetConfirmPassword{
    width: 100%;
    height: 48%;
    /* background: navy; */
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.resetConfPass{
    font-size: 14px;
    /* color: green; */
}

.resetTwoInputHolder{
    width: 100%;
    height: 56%;
    background: var(--colours);
    border: 1px solid var(--inactiveText);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

.resetPassBtn{
    width: 100%;
    height: 20%;
    background: var(--brandColour);
    color: var(--colours);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
