.footerContainer {
    width: 100%;
    height: 10vh;
    color: #fff;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footerContainerInner {
    width: 90%;
    height: 100%;
    /* background: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.footerMain h4 {
    font-size: 1rem;
    font-weight: 600;
}

.footerLogo {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.logoIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* Space between email and icons */
    flex-wrap: wrap;
}

/* Email Style */
.contactEmail {
    /* margin: 0; */
    font-size: 14px;
    transition: all 350ms ease-in-out;

}

.contactEmail:hover{
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.05);
    transition: all 350ms ease-in-out;
}

/* Social Media Icon Style */
.socialIcon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.socialIcon:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

@media screen and (max-width: 650px) {
    .footerContainer{
        width: 100%;
        display: flex;
        /* flex-direction: column-reverse; */
        gap: 20px;
    }
    .footerContainerInner{
        width: 90%;
    }

    .footerMain h4 {
        font-size: 0.3rem;
    }

    .footerLogo {
        width: 60%;
        height: 25%;
        background: rebeccapurple;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contactEmail {
        font-size: 0.4rem;
    }

    .footerTxt{
        font-size: 12px;
    }
    .logoIcon{
        width: 70%;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        /* background: orangered; */
        /* display: flex; */
    }

    .socialIcon {
        width: 5px;
        height: 5px;
        display: flex;
        gap: 5px;
    }
}