.footerContainer {
    width: 100%;
    padding: 10px 0;
    background-image: url(../../../assets/FooterBG.svg);
    color: #fff;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

/* Footer Main Section */
.footerMain h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

/* Footer Logo Section */
.footerLogo {
    margin-top: 10px;
}

.logoIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; /* Space between email and icons */
    flex-wrap: wrap;
}

/* Email Style */
.contactEmail {
    margin: 0;
    font-size: 14px;
}

/* Social Media Icon Style */
.socialIcon {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.socialIcon:hover {
    transform: scale(1.1); /* Slight zoom on hover */
}

@media screen and (max-width: 650px) {
    .footerContainer{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .footerContainerInner{
        width: 90%;
    }
    .footerTxt{
        font-size: 12px;
    }
    .logoIcon{
        margin-top: 20px;
    }
}