.layoutInner{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: whitesmoke;
    display: flex;
    /* flex-direction: column; */

}

.layoutLeft{
    width: 15%;
    height: 100vh;
    /* background: yellow; */
}

.layoutRight{
    width: 85%;
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}