.settingsHolder {
  width: 100%;
  /* min-height: 100vh; */
  height: max-content;
  /* background: firebrick; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
}

.settingsInner {
  width: 52%;
  height: 100vh;
  border-radius: 5px;
  background: rgba(245, 245, 245, 0.85);
  box-shadow: 2px 4px 4px 4px rgba(153, 153, 153, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.settingsInnerIn {
  width: 89%;
  height: 87%;
  /* background: purple; */
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
  flex-direction: column;
}

.settingsInnerTop {
  width: 100%;
  height: 30%;
  /* background: crimson; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.holdSettingsImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(134, 121, 121);
}

.holdSettingsEmail {
  width: 100%;
  height: 30%;
  /* background: khaki; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.settingsInputsHolder {
  width: 100%;
  height: 50%;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settingsInputsHolderTop {
  width: 100%;
  height: 15%;
  /* background: green; */
  display: flex;
  justify-content: space-between;
}

.settingsFirstName,
.settingsSecondName {
  width: 45%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid #726e6e;
  color: #726e6e;
  padding-left: 10px;
}

.settingsInputHolderBottom {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.settingsEmail,
.settingsPhoneNum,
.settingsPassword {
    width: 100%;
    height: 50px;
    border: 1px solid #726e6e;
    border-radius: 5px;
    padding-left: 10px;
}

.settingsInnerBottom {
  width: 100%;
  height: 15%;
  /* background: red; */
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
}

.settingsInnerBotRight{
    width: 100%;
    height: 60px;
    /* background: teal; */
    display: flex;
    gap: 10px;
}

.settingsCancelBtn{
    width: 49%;
    height: 80%;
    /* background: grey; */
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}

.settingsSaveBtn{
    width: 49%;
    height: 80%;
    background: var(--brandColour);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
}
.settingsImg{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
}
@media screen and (max-width: 650px) {
  .settingsInner{
    width: 100%;
    box-shadow: none;
  }
  .settingsHolder{
    padding: 10px;
  }
  .settingsImg{
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  .settingsInnerIn {
    width: 100%;
    height: 87%;
    /* background: purple; */
    display: flex;
    justify-content: space-between;
    /* gap: 30px; */
    flex-direction: column;
  }
}