.heroPageContainer{
    width: 100%;
    height: 88vh;
    /* background: red; */
    display: flex;
    justify-content: center;
}

.heroPageInner{
    width: 85%;
    height: 100%;
    /* background: khaki; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroPageLeft{
    width: 45%;
    height: 80%;
    /* background: hotpink; */
    display: flex;
    align-items: center;
    /* justify-content: ; */
    /* padding-top: 30px; */
}

.heroPageLeftHold{
    width: 100%;
    height: 85%;
    /* background: dodgerblue; */
    display: flex;
    gap: 17px;
    flex-direction: column;
    /* margin-top: 30px; */
}

.prioritize{
    font-family: "Crimson Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 64px;
    font-weight: 700;
    color: white;
    /* width: 100%; */
}

.autoType{
    color: yellow;
}

.cursor{
    color: yellow;
}

.aboutTrakFundz{
    color: white;
    font-size: 16px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    width: 74%;
}

.tryNowBtn{
    width: 28%;
    height: 10%;
    /* font-family: Arial, Helvetica, sans-serif; */
    background: var(--brandColour);
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
}

.tryNowBtn:hover{
    background: var(--landpageHover);
}

.heroPageRight{
    width: 50%;
    height: 97%;
    position: relative;
    /* background: lawngreen; */
    /* display: flex; */

}

.polygonTop{
    width: 35%;
    height: 35%;
    position: absolute;
    left: 5%;
}      

.roundWhite{
    width: 418px;
    height: 418px;
    border-radius: 50%;
    background: #3E0EF9;
    position: absolute;
    top: 19%;
    left: 47%;
    filter: blur(75px);
}

.dashboard{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 4%;
    left: 20%;
    z-index: 3;
}

.polygonSmall{
    width: 20%;
    height: 20%;
    position: absolute;
    bottom: 2%;
    right: 5%;
}
