.heroPMid {
  width: 100%;
  height: 120vh;
  /* background: #000; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
}

.heroMPidInner {
  width: 100%;
  height: 90%;
  /* background: red; */
  display: flex;
  justify-content: space-between;
}

/* .heroMidLeft {
    width: 70%;
    height: 100%;
    background: tomato;
} */

.polygon11 {
  width: 20%;
  height: 100%;
  /* background: teal; */
}

.heroPMidCenter {
  width: 45%;
  height: 100%;
  /* background: gray; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.heroPMidTop {
  width: 100%;
  height: 35%;
  /* background: thistle; */
  text-align: center;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.effortTxt {
  line-height: 60px;
  font-size: 2.5rem;
}

.budget {
  color: rgba(249, 251, 125, 1);
}

.createPTxt {
  width: 83%;
  font-size: 1.4rem;
  font-weight: 500;
}

.heroPMidBottom {
  width: 100%;
  height: 35%;
  /* background: steelblue; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.trakFundzBudgeting {
  width: 76%;
  font-size: 1.5rem;
}

.signUpTxtDiv {
  width: 100%;
  height: 40%;
  /* background: rosybrown; */
  display: flex;
  justify-content: flex-end;
}

.signUpTxtDivInner {
  width: 60%;
  height: 100%;
  /* background: teal; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.signUpEffortlessly {
  font-size: 1.2rem;
}

.getStartedCenterBtn {
  height: 2.8rem;
  width: 40%;
  background: var(--brandColour);
  font-size: 1rem;
  font-weight: 700;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.smallPolyCentre {
  width: 100%;
  height: 20%;
  /* background: mediumvioletred; */
  display: flex;
  justify-content: flex-end;
}

.polyRightSmall {
  width: 40%;
  height: 40%;
}

.heroMidRight {
  width: 30%;
  height: 100%;
  /* background: rgb(175, 175, 175); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradientBox {
  width: 15%;
  height: 80%;
  background: #000;
}

.lilac {
  width: 362px;
  height: 362px;
  /* background: rgba(226, 189, 255, 0.5); */
  border-radius: 90px;
  fill: rgba(226, 189, 255, 0.5);
  filter: blur(29.510862350463867px);
}

.yellow {
  width: 362px;
  height: 362px;
  fill: rgba(249, 251, 166, 0.8);
  filter: blur(51.63389587402344px);
  /* background: rgba(249, 251, 166, 0.8); */
}
