.userdashboard {
    width: 100%;
    /* min-height: 100vh; */
    height: auto;
    /* background: rebeccapurple; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;
    padding: 30px;
    /* padding-top: 50px; */
    overflow-y: auto;
  }
  
  .userDashboardInner {
    width: 100%;
    height: auto;
    /* background: #000; */
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* gap: 20px; */
  }
  
  .userDashboardLeft {
    width: 65%;
    min-height: 90vh;
    height: auto;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .userDashboardLeftTop {
    width: 100%;
    height: 17vh;
    /* background: #000; */
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    color: var(--inactiveText);
    /* padding: 10px; */
  }
  
  .userDashboardTopOne {
    width: 35%;
    height: 100%;
    border-radius: 5px;
    background: #e2bdff;
    box-shadow: 4px 4px 4px 0px rgba(153, 153, 153, 0.25);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
  }
  
  .userDashAmount {
    font-size: 13px;
  }
  
  .userPrice {
    font-size: 32px;
    font-weight: 700;
  }
  
  .userDashboardLeftTwo {
    width: 35%;
    height: 100%;
    border-radius: 5px;
    background: #e2bdff;
    box-shadow: 4px 4px 4px 0px rgba(153, 153, 153, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 10px;
  }
  
  .uDTopTwoUp {
    width: 100%;
    height: 50%;
    /* background-color: whitesmoke; */
  }
  
  .userDashAmountReached {
    font-size: 12px;
  }
  
  .userDashAmountPrice {
    font-size: 20px;
    font-weight: 700;
  }
  
  .uDTwoDown {
    width: 100%;
    height: 50%;
    /* background: teal; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }
  
  .uDTwoDownTop {
    width: 80%;
    height: 50%;
    /* background: olive; */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .uDTopTwoDownLeft {
    width: 40%;
    height: 60%;
    /* background: orangered; */
    display: flex;
    justify-content: space-between;
  }
  
  .greenUDTargetReached {
    width: 20px;
    height: 13px;
    border-radius: 7.559px;
    background: #b6edd3;
  }
  
  .uDPaid {
    font-size: 10px;
  }
  
  .uDTopTwoDownRight {
    width: 45%;
    height: 60%;
    /* background: tomato; */
    display: flex;
    justify-content: space-between;
  }
  
  .redUDTargetReached {
    width: 20px;
    height: 13px;
    border-radius: 7.559px;
    background: #e59e9e;
  }
  
  .uDBalance {
    font-size: 10px;
  }
  
  .uDTopTwoDownBottom {
    width: 100%;
    height: 45%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .uDNoRec {
    font-size: 10px;
  }
  
  .uDTopThree {
    width: 25%;
    height: 100%;
    border-radius: 5px;
    background: #e2bdff;
    box-shadow: 4px 4px 4px 0px rgba(153, 153, 153, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .uDTopThreeInner {
    width: 70%;
    height: 50%;
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .uDIncomeCirclePlus {
    font-size: 25px;
  }
  
  .uDAddIncome {
    font-size: 18px;
    font-family: 700;
  }
  
  .uDMiddle {
    width: 100%;
    height: auto;
    min-height: 50vh;
    border-radius: 5px;
    background: rgba(245, 245, 245, 0.85);
    box-shadow: 4px 4px 4px 0px rgba(153, 153, 153, 0.25);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }
  
  .uDMiddleTop {
    width: 100%;
    height: 15%;
    /* background: green; */
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    gap: 10px;
  }
  
  .uDMoneyFlow {
    font-size: 20px;
    font-weight: 700;
  }
  
  .uDassignLoan {
    width: 22%;
    height: 30%;
    /* background: cyan; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .uDPurpleRound {
    width: 8px;
    height: 8px;
    background: var(--brandColour);
    border-radius: 50%;
  }
  
  .uDIncomeText {
    font-size: 12px;
  }
  
  .uDExpenseTuDLightPurleRoundext {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #cbacf2;
  }
  
  .uDExpenseText {
    font-size: 12px;
  }
  
  .uDCenterDown {
    width: 100%;
    /* min-height: 30vh; */
    height: auto;
    /* background: crimson; */
  }
  
  .uDCenterDownInner {
    width: 100%;
    height: auto;
    min-height: 55vh;
    background-color: gray;
  }
  
  .uDBottom {
    width: 100%;
    height: auto;
    min-height: 50vh;
    border-radius: 5px;
    background: rgba(245, 245, 245, 0.85);
    box-shadow: 4px 4px 4px 0px rgba(153, 153, 153, 0.25);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }
  
  .uDBottomTop {
    width: 100%;
    height: 15%;
    /* background: green; */
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    gap: 10px;
  }
  
  .uDExpense {
    font-size: 20px;
    font-weight: 700;
  }
  
  .uDLoanBottom {
    width: 22%;
    height: 30%;
    /* background: cyan; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .uDBottomPurpleRound {
    width: 8px;
    height: 8px;
    background: var(--brandColour);
    border-radius: 50%;
  }
  
  .uDBottomIncomeText {
    font-size: 12px;
  }
  
  .uDBottomLightPurleRound {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #cbacf2;
  }
  
  .uDBottomExpenseText {
    font-size: 12px;
  }
  
  .repoBottomCenterDown {
    width: 100%;
    /* min-height: 30vh; */
    height: auto;
    /* background: crimson; */
  }
  
  .repoBottomCenterDownInner {
    width: 100%;
    height: auto;
    min-height: 55vh;
    background-color: gray;
  }
  
  .repoRight {
    width: 32%;
    /* min-height: 148vh; */
    height: auto;
    border-radius: 5px;
    background: #f4f4ff;
    box-shadow: 4px 4px 4px 0px rgba(153, 153, 153, 0.25);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
  }
  
  .repoTransaction {
    width: 100%;
    min-height: 45%;
    height: auto;
    border-radius: 5px;
    background: #e7d0ff;
    box-shadow: 4px 4px 4px 0px rgba(153, 153, 153, 0.25);
    padding: 20px;
  }
  
  .repoTransactionHistory {
    width: 60%;
    height: 8vh;
    font-size: 20px;
  }
  
  .repoTransactionNoAct {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


/* .dashboardHolder {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboardInner {
  width: 95%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboardLeft {
  width: 65%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.dashboardLeftTop {
  width: 100%;
  height: 27%;
  display: flex;
  justify-content: space-between;
}

.dashboardLeftMiddle {
  width: 100%;
  height: 32%;
  border-radius: 5px;
  background: rgba(245, 245, 245, 0.85);
  box-shadow: 4px 4px 4px 0px rgba(153, 153, 153, 0.25);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.dBoardLeftMiddleTop{
    width: 95%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.moneyFlow{
    font-size: 16px;
    font-weight: 700;
}

.incomeExpenseHolder{
    width: 55%;
    height: 85%;
    display: flex;
    justify-content: space-between; 
}

.incomeExpense{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.purpleRound{
    width: 8px;
    height: 8px;
    background: var(--brandColour);
    border-radius: 50%;
}

.lightPurleRound{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #CBACF2;
}

.incomeText{
    font-size: 12px;
}

.expenseText{
 font-size: 12px;
}

.incomeSelect{
    width: 58%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expenseSelect{
    width: 47%;
    height: 100%;
    border: 1px solid var(--brandColour);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
}

.weekSelect{
    width: 47%;
    height: 100%;
    border: 1px solid var(--brandColour);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    align-items: center;

}

.dBoardLeftBottom{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dBoardLeftBotInnerTop{
    width: 95%;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.dBoardLeftBotInnerBottom{
    width: 95%;
    height: 12%;
}

.dashboardLeftBottom {
  width: 100%;
  height: 32%;
  border-radius: 5px;
  background: rgba(245, 245, 245, 0.85);
  box-shadow: 4px 4px 4px 0px rgba(153, 153, 153, 0.25);
  display: flex;
  justify-content: center;
 
}

.dBoardLeftBottomTop{
    width: 95%;
    height: 10%;
    background: #000;
}

.dashboardRight {
  width: 30%;
  height: 90%;
  border-radius: 5px;
  background: #F4F4FF;
  box-shadow: 4px 4px 4px 0px rgba(153, 153, 153, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboardRightInner{
    width: 85%;
    height: 93%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} */
