.DebtLandingContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.debtLandingInner {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DebtLandingTop {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.debt {
  text-align: center;
  font-size: 40px;
  color: white;
}
.dept {
  color: #9747ff;
}
.stayOrganized {
  text-align: center;
  font-size: 16px;
  color: white;
}
.debtLandingBottom {
  width: 100%;
  display: flex;
}
.debtLandingleft {
  width: 50%;
  height: 60vh;
}
.debtManagerDiv {
  width: 600px;
  height: 700px;
}
.debtLandingRight {
  width: 50%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  /* background-color: red; */
  margin-top: 150px;
}
.deptLandingTrack {
  width: 70%;
  margin-left: 50px;
}
.trackYourLoan {
  font-size: 20px;
  color: white;
  line-height: 30px;
}
.deptLandingCreate {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.debtCreate {
  font-size: 20px;
  color: white;
  line-height: 30px;
}
.debtCreateBtn {
  width: 250px;
  height: 40px;
  color: white;
  background-color: #9747ff;
  border-radius: 5px;
  border: none;
}

@media screen and (max-width: 650px) {
  .DebtLandingContainer {
    width: 100%;
    height: auto;
  }
  .debtLandingInner {
    width: 90%;
  }
  .debtLandingBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .debtLandingRight {
    width: 100%;
    height: auto;
  }
  .debtLandingleft {
    width: 100%;
  }
  .debtManagerDiv {
    width: 100%;
    height: 400px;
  }
  .debtLandingRight {
    width: 100%;
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    /* background-color: red; */
    margin-top: 0px;
  }
  .deptLandingCreate{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .deptLandingTrack {
    width: 100%;
    margin-left: 0px;
  }
  .trackYourLoan {
    text-align: center;
    font-size: 14px;
  }
  .debtCreate {
    text-align: center;
    font-size: 14px;

  }
}
