.DebtLandingContainer {
  width: 100%;
  height: 130vh;
  /* background-color: blue; */
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.debtLandingInner {
  width: 100%;
  height: 96%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  /* background: #8b2525; */
}

.DebtLandingTop {
  width: 65%;
  height: 20%;
  /* background: rgb(231, 96, 5); */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.debt {
  color: white;
  font-size: 2.6rem;
  line-height: 50px;
}

.dept {
  color: rgba(192, 125, 244, 1);
}

.stayOrganized {
  font-size: 1.2rem;
  color: white;
}

.deptLandingTrack {
  width: 522px;
  height: 98px;
  background: violet;
  font-size: 24px;
  top: 415px;
  left: 698px;
  gap: 10px;
}
.deptLandingCreate {
  width: 300px;
  height: 98px;
  background: turquoise;
  font-size: 18px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.debtLandingBottom {
  width: 95%;
  height: 80%;
  /* background: rebeccapurple; */
  display: flex;

}

.debtLandingleft {
    width: 50%;
    height: 60%;
    /* background: #0dd668; */
}

.debtManagerDiv {
    width: 100%;
    height: 100%;
}

.debtLandingRight {
    width: 50%;
    height: 100%;
     /* background: orangered; */
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
}


@media screen and (max-width: 756px) {
  .deptLandingTrack {
    width: 40%;
  }

  .trackYourLoan {
    font-size: 0.3rem;
  }
}
