.passwordSuccessHolder{
    width: 100%;
    height: 100vh;
    background: url("../../../assets/trakFundzBackgroundPng.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100%;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
}

.passSuccessImg{
    width: 85%;
    height: 20vh;
    /* background: url("../../../assets/trakFundzBackground.svg"); */
    /* background: #000; */
    display: flex;
    align-items: flex-end;
    /* margin-left: 20px; */
}

.logo{
    width: 248px;
    height: 180px;
}

.successHoldAll{
    width: 22%;
    height: 47%;
    background: white;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.successinFormHolder{
    width: 90%;
    height: 85%;
    /* background: tomato; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    /* background: teal; */
}

.successInformTop{
    width: 100%;
    height: 65%;
    /* background: orange; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.holdSuccessSvg{
    width: 50%;
    height: 55%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center
}

.emailSuccess{
    width: 95%;
    height: 95%;
}

.successEmailTxt{
    width: 100%;
    height: 50%;
    /* background: fuchsia; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.passwordChanged{
    font-size: 14px;
    font-weight: 400;
}

.recoverHoldAllP{
    width: 90%;
    height: 35%;
    /* background: seagreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.recoverP{
    width: 80%; 
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--microcopyTextColour);
    line-height: 17px;
}


.infromVerifyBottom{
    width: 100%;
    height: 30%;
    /* background: lime; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.recoverBtn{
    width: 70%;
    height: 44px;
    /* height: 40%; */
    background: var(--brandColour);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
}

.didntReceive{
    width: 68%;
    height: 10%;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 17px;
}