.DashboardHeaderHolder {
  width: 100%;
  height: 13vh;
  max-height: 13vh;
  background: #fff;
  box-shadow: 0px 2px 4.001px 0px rgba(153, 153, 153, 0.25);
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  z-index: 10;
  top: 0px;
  bottom: 0px;
}

.dashboardHeaderInner {
  width: 95%;
  height: 100%;
  /* background: darkblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboardHeaderLeft{
    width: 30%;
    height: 65%;
    /* background: orange; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.welcomeName{
    font-size: 25px;
    font-weight: 600;
}

.afterWelcomeName{
    font-size: 15px;
}


.dashboardHeaderRight{
    width: 44%;
    height: 80%;
    /* background: hotpink; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* gap: 5px; */
}
/* 
.dashboardHeaderRightInner{

} */

.dashHeaderRightLeft{
    width: 53%;
    height: 60%;
    /* background: darkmagenta; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.dashHeaderRightLeftNone {
    display: none;
}

.searchInput{
    width: 90%;
    height: 85%;
    border: 1px solid var(--brandColour);
    outline: none;
    border-radius: 5px;
    padding-left: 40px;
    color: var(--brandColour);
}

.searchIcon{
    position: absolute;
    left: 10px;
    color: var(--brandColour);
    font-size: 20px;
}


.dashHeaderRightRight{
    width: 45%;
    height: 80%;
    background: var(--brandColour);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.roundImgIcon{
    width: 45px;
    height: 45px;
    /* background: salmon; */
    border-radius: 50%;
    border: none;

}

.imgProfile{
    width: 100%;
    height: 100%;
}

.holdProfileInfo{
    width: 70%;
    height: 58%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.headerName{
    font-size: 13px;
    color: var(--colours);
}

.headerEmail{
    font-size: 11px;
    color: var(--colours);
}
.MenuHolder{
    display: none;
}
.dashboardHeaderImage{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}
@media screen and (max-width: 650px) {
    .dashboardHeaderLeft{
        display: none;
    }
    .dashboardHeaderRight{
        width: 90%;
    }
    .dashHeaderRightRight{
        width: 80%;
        height: 70%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imgProfile{
        width: 30px;
        height: 30px;
    }
    .MenuHolder{
        display: flex;
        width: 10%;
    }
    .roundImgIcon{
        width: 30%;
        height: 90%;
    }
    .holdProfileInfo{
        width: 100%;
        height: 100%; 
        display: flex;
    }
    .DashbaordMenuIcon{
        color: var(--brandColour);
        font-size: 30px;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .MobileSidebar{
        width: 80%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
    }
    .dashboardHeaderImage{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        object-fit: cover;
    }
}