.headerContainer {
  width: 100%;
  height: 12vh;
  background: linear-gradient(
    90deg,
    #000030 0%,
    #090043 50.33%,
    #1f087a 78.09%,
    #220a7f 91.16%
  );
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  bottom: 0px;
  z-index: 99999999999;
}

.headerContainerInner {
  width: 85%;
  height: 100%;
  /* background: rebeccapurple; */
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.headerLeft {
  width: 52%;
  height: 100%;
  /* background: khaki; */
  display: flex;
  gap: 10px;
  /* justify-content: space-between; */
  align-items: center;
}

.headerLeftOne {
  width: 40%;
  height: 70%;
  /* background: purple; */
  display: flex;
  justify-content: flex-start;
  /* aspect-ratio: 1/2; */
  object-fit: contain;
}

.holdLogo {
  width: 80%;
  height: 100%;
  /* background: #000; */
}

.headerLeftTwo {
  width: 55%;
  height: 100%;
  /* background: teal; */
}

.HeaderIsActive {
  text-decoration: none;
  color: var(--brandColour);
}

.HeaderNotActive {
  text-decoration: none;
  color: var(--colours);
}

ul {
  width: 95%;
  height: 100%;
  /* background: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerRight {
  width: 20%;
  height: 100%;
  /* background: crimson; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPLoginBtn {
  width: 45%;
  height: 3.2rem;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  background: transparent;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.landingPLoginBtn:hover {
  background: var(--landpageHover);
}

.signupBtn {
  width: 45%;
  height: 3.2rem;
  background: var(--brandColour);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.signupBtn:hover {
  background: var(--landpageHover);
}

@media screen and (max-width: 768px) {
  .headerContainer {
    height: 8vh;
    width: 100%;

    /* display: block; */
    /* justify-content: center; */
  }

  .headerContainerInner {
    width: 92%;
    height: 100%;
  }

  .holdLogo {
    width: 90%;
    height: 90%;
    /* background: teal; */
  }

  .headerLeftTwo {
    width: 55%;
    height: 40%;
    /* background: orange; */
  }

/* 
  ul {
    font-size: 1rem;
    gap: 2px;
  } */

  li {
    font-size: 0.7rem;
    gap: 8px;
  }

  .headerRight {
    width: 25%;
    height: 100%;
    /* background: hotpink; */
  }

  .landingPLoginBtn{
    width: 43%;
    height: 2rem;
    /* background: red; */
    font-size: 0.7rem;
  }

  .signupBtn{
    width: 47%;
    height: 2rem;
    /* background: teal; */
    font-size: 0.7rem;
  }
}
