.headerContainer{
    width: 100%;
    height: 12vh;
    /* background: green; */
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    bottom: 0px;
    z-index: 99999999999;
}

.headerContainerInner{
    width: 85%;
    height: 100%;
    /* background: rebeccapurple; */
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;

}

.headerLeft{
    width: 52%;
    height: 100%;
    /* background: khaki; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLeftOne{
    width: 40%;
    height: 70%;
    /* background: purple; */
    display: flex;
    justify-content: flex-start;
    /* aspect-ratio: 1/2; */
    object-fit: contain;
}

.holdLogo{
    width: 80%;
    height: 100%;
    /* background: #000; */
}

.headerLeftTwo{
    width: 55%;
    height: 100%;
    /* background: teal; */
}

ul{
    width: 100%;
    height: 100%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerRight{
    width: 20%;
    height: 100%;
    /* background: crimson; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landingPLoginBtn{
    width: 45%;
    height: 55%;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    background: transparent;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.landingPLoginBtn:hover{
    background: var(--landpageHover);
}

.signupBtn{
    width: 45%;
    height: 55%;
    background: var(--brandColour);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.signupBtn:hover{
    background: var(--landpageHover);
}